<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<link rel="stylesheet" href="/materialize/style/formCadPaciente.css" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">

<head>
<title>Cadastro do Paciente</title>
</head>
<body>


	<header>
		<h1><img class="responsive-img" src="/materialize/style/logos/logos/LOGOBRANCA.png"
				style="margin:-60px 0px; width: 25%;"></h1>
	</header>
	<nav>
        <a href="/pacientes" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left" style="margin-top:-10px">format_list_bulleted</i>Pacientes Cadastrados</a>
	</nav>
	

        <h2 style="padding: 30px;">ALTERAR CADASTRO PACIENTE</h2>

	<!-- <th:block th:include="mensagemValidacao"></th:block> -->
	
	<form class="container" method="post" action="/alterarPaciente" th:object="${cadpaciente}">
		<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->

		<input type="hidden" th:field="*{id}">
		
		<div class="row">
			Nome Completo: <input type="text" name="nome" placeholder="Nome" required th:field="*{nome}"  />
			<div class="input-field col s3">
				Data de Nascimento: <input type="date" name="datanasc" required th:field="*{datanasc}" />
			</div>
			<div class="input-field col s3">
				Telefone: <input type="tel" name="telefone" maxlength="15"
					placeholder="Digite o Número"  required th:field="*{telefone}"  />
			</div>
			<div class="input-field col s3">
				CPF: <input type="text" name="cpf" maxlength="11"
					placeholder="Digite o CPF"  required th:field="*{cpf}" />
			</div>
			<div class="input-field col s3">
				RG: <input type="text" name="rg" placeholder="RG"  required th:field="*{rg}" />
			</div>
			Email: <input type="text" name="email" placeholder="Email" th:field="*{email}" />
		</div>
		<button type="submit" class="waves-effect waves-light btn #ef9a9a red lighten-3">Finalizar
			Cadastro</button>
	</form>
	<footer>
        <p>Copyright ® Todos os direitos reservados</p>
    </footer>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script>
		function mascara(o,f){
		v_obj=o
		v_fun=f
		setTimeout("execmascara()",1)
	}
	function execmascara(){
		v_obj.value=v_fun(v_obj.value)
	}
	function mtel(v){
		v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
		v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
		v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
		return v;
	}
	function id( el ){
		return document.getElementById( el );
	}
	window.onload = function(){
		id('telefone').onkeyup = function(){
			mascara( this, mtel );
		}
	}
	</script>
</body>
</html>