
<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-br">
	<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />


	
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/detalhesPacientecomfoto.css"/>

<head>
<style>

	.card{
		text-align: center;
		position: center;
	}

	p.card-text{
	  font-weight: bold;
	  text-align: center;
	}
	p.card-text > span{
	  font-weight: normal;
	}
	#fotoDePerfil{
	  border-radius: 50%;
	  
	}
	</style>
<title>Detalhes do Medico</title>
</head>
<body>

	<header>
		<h1><img class="responsive-img" src="/materialize/style/logos/logos/LOGOBRANCA.png" style="margin:-60px 0px; width: 25%;"></h1>
</header>
    <nav>
       
	   <a href="/medico/telaMedico" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left" style="margin-top:-10px" >undo</i>Retornar</a>

    </nav>
    <h2>DADOS DO MEDICO</h2>

	<main class="container" style="margin: -20px; padding: 50; padding-top: 20px; padding-left: 35%; margin-bottom: 60px;">
		<th></th>
		<div class="card" style="border-radius: 10px; width: 100%; height: 100%; padding: 10px;">
			<!-- <div class="card-header" th:text="${usuariopaciente.nome}">
			</div>  -->
		
        <div class="card-body">
         <p class="card-text" id="fotoDePerfil"><td><img th:src="@{/medico/mostrarImagem/{imagem}(imagem=${usuariomedico.nomeImagem})}" alt="" width="128" height="128" class="circle responsive-img"/></td></p>
		  <p class="card-text" >Nome: <span th:text="${usuariomedico.nome}"></span></p> 
		  <p class="card-text" >Numero: <span th:text="${usuariomedico.numero}"></span></p>
		  <p class="card-text" >CRM: <span th:text="${usuariomedico.crm}"></span></p>
          <!-- <p class="card-text" >Data de Nascimento: <span th:text="${#temporals.format(usuario.datanasc,'dd/MM/yyyy')}"></span></p> -->
          <p class="card-text" >Email: <span th:text="${usuariomedico.email}"></span></p>
		  <p class="card-text">CPF: <span th:text="${cadmedico.cpf}"></span></p>
		  <p class="card-text">Especialidade: <span th:text="${cadmedico.especialidade}"></span></p>
		  <p class="card-text" >RG: <span th:text="${cadmedico.rg}"></span></p>
          <!-- <a th:href="@{/usuario/{id}/editar (id=${usuariopaciente.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/usuario/{id}/excluir (id=${usuariopaciente.id})}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluí-lo?')">Excluir</a> -->
        </div>
  
	</div>
	</div>
</div></main>
 
<!-- <footer>
        <p>Copyright ® Todos os direitos reservados</p>
    </footer> -->
	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	   
	

	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>