
<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-br">
	<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />


	
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/medicoscadastradoscard.css"/>

<head>
<style>

	.card{
		text-align: center;
		position: center;
	}

	p.card-text{
	  font-weight: bold;
	  text-align: center;
	}
	p.card-text > span{
	  font-weight: normal;
	}
	#fotoDePerfil{
	  border-radius: 50%;
	  
	}
	</style>
<title>Detalhes do Medico</title>
</head>
<body>

	<header>
		<h1><img class="responsive-img" src="/materialize/style/logos/logos/LOGOBRANCA.png" style="margin:-60px 0px; width: 25%;"></h1>
</header>
    <nav>
		
	   <a href="/paciente/telaPaciente" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left" style="margin-top:-10px" >undo</i>Retornar</a>
	   <form  method="get">
		<input type="text" name="text" id="foco" style="border-radius:8px; background-color: #333; opacity: 2; color:#d8f3dc"> 
		<button type="submit" style="background-color: transparent; border:transparent;">
			 <svg width="16" height="16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" class="svg-inline--fa fa-magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path></svg>
		</button>
		</form>
	
    </nav>
	
    <h2>MÉDICOS DISPONÍVEIS</h2>
	
	<section class="flex">

<main class="cards"style="padding-left: 5%; padding-bottom: 5%">
    <div class="card" style="border-radius: 10px; width: 18rem; padding: 10px; margin: 10px; display: inline-block;" th:each="usuariomedico : ${usuariomedico}">
        <img authorize access="perfil.PACIENTE" class="card-img-top" th:src="@{/medico/mostrarImagem/{imagem}(imagem=${usuariomedico.nomeImagem})}" style="border-radius: 50%; height: 200px; overflow: hidden" alt="Imagem de capa do card" >
        <div class="card-body">
			<div th:each="cadmedicos: ${cadmedico}"> 
				<div th:if = "${cadmedicos.crm == usuariomedico.crm}" > 
				<p class="card-text" > <span th:text="${cadmedicos.especialidade}"></span></p> 
				</div>
			</div>
		  <p class="card-text"><span th:text="${usuariomedico.nome}"></span></p>
		  <p class="card-text" >Número: <span th:text="${usuariomedico.numero}"></span></p>
		  <p class="card-text" >CRM: <span th:text="${usuariomedico.crm}"></span></p>
		  <!--<p class="card-text" >Especialidade: <span th:text="${usuariomedico.especialidade}"></span></p> -->
          <a th:href="@{/paciente/agendarConsulta/{id} (id = ${usuariomedico.crm})} " class="btn btn-primary #ef9a9a red lighten-3">Agendar</a>
        </div>
      </div>	
</main>
</section>  
<!-- <footer>
<p>Site criado por Daiana Lins e Letícia Almeida</p>
    </footer> -->
	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	   
	

	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script>
		function search() {
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementsByClassName('especialidade');
      
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            x[i].style.display="none";
        }
        else {
            x[i].style.display="list-item";                 
        }
    }
}
	</script>
</body>

</html>