<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-br">
	<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/styleformAgendamento.css"/>

<head>

<title>Noticas</title>
</head>
<body>
 <style>
     .breadcrumb:before {
        color: rgb(121, 121, 255);
    }
    
 </style>

    <header>
        <h1>CLINICALFEM</h1>
    </header>
    <nav>
       <a href="#">Home</a>
       <a href="#">Serviços</a>
       <a href="#">Contatos</a>
       <a href="#">Sobre nós</a>
    </nav>

    <h4><a href="/tela" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left">home</i>Início</a></h3>

     <section>
         <div class="container" style="width: 60%; padding-bottom: 30px;">
            
            
            
            <div class="row">
                <div class="col s12 m6">
                  <div class="card ">
                    <div class="card-content black-text">
                      <a href=""><h4 class="card-title">Daiana</span></a>
                      
                      <p> Bruce, o gato </p>
                    </div>
                    
                  </div>
                </div>
              </div>
         </div>
     </section>   

    <footer>
        <p>Site criado por Daiana Lins e Letícia Almeida</p>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  
	<script>
	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	});
	
	 </script>
</body>
</html>