<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-br">
	<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/styleformAgendamento.css"/>

<head>

<title>Noticas</title>
</head>
<body>
 <style>
   
 </style>

<header>
    <h1><img class="responsive-img" src="/materialize/style/logos/logos/LOGOBRANCA.png" style="margin:-60px 0px; width: 25%;"></h1>
</header>
    <nav>
       <a href="#">Home</a>
       <a href="#">Serviços</a>
       <a href="#">Contatos</a>
       <a href="#">Sobre nós</a>
    </nav>

    <h4><a href="/tela" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left">home</i>Início</a></h3>

        

     <main>    
        
            
         <div class="container" style="width: 60%; padding-bottom: 30px;">
         
            <nav aria-label="breadcrumb" class="z-depth-0">
                <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                    <li class="breadcrumb-item"><a class="grey-text"  href="/noticias">Notícias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Notícia</li>
                </ol>
            </nav>

            <article>
                <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${noticia.titulo}"></span></h1>
                <p class="card-subtitle mb-2 text-muted">
                    <i class="material-icons">person_outline</i>
                    <span th:text="${noticia.autor}"></span>
                    <br>
                    <i class="material-icons">date_range</i>
                    <span th:text="${noticia.data}"></span>
                </p>
                <section>
                    <p class="card-text" style="margin-top: 40px;"><span th:utext="${noticia.texto}"></span></p>
                </section>
            </article>
            </div>
        
         
     </main>   

    

    <!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	  
	<script>
	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	});
	
	 </script>
</body>
</html>