
<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-br">
	<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />


	
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/detalhesPacientecomfoto.css"/>

<head>
<style>

	.card{
		text-align: center;
		position: center;
	}

	p.card-text{
	  font-weight: bold;
	  text-align: center;
	}
	p.card-text > span{
	  font-weight: normal;
	}
	#fotoDePerfil{
	  border-radius: 50%;
	  
	}
	</style>
<title>PACIENTES</title>
</head>
<body>

	<header>
		<h1><img class="responsive-img" src="/materialize/style/logos/logos/LOGOBRANCA.png" style="margin:-60px 0px; width: 25%;"></h1>
</header>
    <nav>
       
	   <a href="/medico/telaMedico" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left" style="margin-top:-10px" >undo</i>Retornar</a>

    </nav>
    <h2>PACIENTES</h2>

<main class="cards" style="padding-left: 5%;">
    <div class="card" style="border-radius: 10px; width: 18rem; padding: 10px; margin: 10px; display: inline-block; width: 18rem;" th:each="usuariopaciente : ${usuariopaciente}">
        <img class="card-img-top" th:src="@{/paciente/mostrarImagem/{imagem}(imagem=${usuariopaciente.nomeImagem})}" alt="Imagem de capa do card" style="border-radius: 50%;">
        <div class="card-body">
         
          <p class="card-text" >Nome: <span th:text="${usuariopaciente.nome}"></span></p> 
		<p class="card-text" >Numero: <span th:text="${usuariopaciente.numero}"></span></p>
        <!-- <p class="card-text" >Data de Nascimento: <span th:text="${#temporals.format(usuario.datanasc,'dd/MM/yyyy')}"></span></p> -->
    	<p class="card-text" >Email: <span th:text="${usuariopaciente.email}"></span></p>
		<p class="card-text">Data de Nascimento: <span th:text="${usuariopaciente.datanasc}"></span></p>
          <a href="#" class="btn btn-primary #ef9a9a red lighten-3">Histórico</a>
        </div>
      </div>	
</main>
 
<!-- <footer>
        <p>Site criado por Daiana Lins e Letícia Almeida</p>
    </footer> -->
	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	   
	

	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>