<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="pt-br">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>CLINICALFEM</title>

  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />


</head>

<body>
  <nav class="#ef9a9a red lighten-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="materialize/style/logos/logos/LOGOpequena1.png" alt=""></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/pageHome">INÍCIO</a></li>
        <li><a href="/servicos">SERVIÇOS</a></li>
        <li><a href="/selecionar">LOGIN</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <div class="row center">
          <h1 class = "header center" style="color: #ef9a9a; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">UMA CLÍNICA PARA MULHERES</h1>
          <h5 class="header col s12 light"style="color: #ef9a9a;  font-weight: 400; ">FAÇA PARTE DA NOSSA CLÍNICA</h5>
        </div>
        <div class="row center">
          <a href="/selecionar" id="download-button" class="btn-large waves-effect waves-light #ef9a9a red lighten-3">CLIQUE AQUI</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/materialize/style/logos/logos/imagem1m.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">female</i></h2>
            <h5 class="center">Destinado ao público feminino</h5>

            <p class="light">Em pesquisa sobre a procura de serviços femininos, as mulheres brasileiras vão mais ao médico do que os homens, diz a Pesquisa Nacional de Saúde (PNS) 2013, divulgada pelo IBGE. Nessa questão, a clínica foi criada com o intuito de oferecer serviços para todas as mulheres de forma mais eficiente possível. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Corpo Clínico</h5>

            <p class="light">A clínica é composta por um corpo de médicos especializados em diversas áreas de atuação, procurando estabelecer e entregar um bom resultado nos atendimentos das pacientes. Agende uma consulta com um dos nossos profissionais e se surpreenda!  </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">medical_services            </i></h2>
            <h5 class="center">Diversos serviços</h5>

            <p class="light">Buscamos oferecer serviços de extrema necessidade para as nossas pacientes, já que nem sempre é possível de ser encontrado em redes públicas. Confira se seu serviço está disponível logo abaixo: </p>

            <p class="center-align">
              <a href="/servicos" class="waves-effect waves-light btn #ef9a9a red lighten-3">
                <!-- <i class="material-icons right">cloud</i> -->
                Conheça nossos serviços</a>
             </p>

          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="carousel #ef9a9a red lighten-3" data-indicators = "true">
    <a class="carousel-item" href="#one!"><img src="https://womenshealthbrasil.com.br/wp-content/uploads/sites/6/2019/10/ginecologista.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://blog.partmedsaude.com.br/wp-content/uploads/2018/12/254637-voce-sabe-quando-procurar-um-mastologista.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="http://www.oftalmocitta.com.br/upl/imgs/2019/06/consulta-oftalmo.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://www.hmg.com.br/wp-content/uploads/2020/11/obstetricia-1024x682.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://medprev.online/wp-content/uploads/editor/766f7bc51507cd1c8cb537b37c63ad7e.jpg"></a>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4><em>Amor próprio começa nos detalhes</em></h4>
          <p class="left-align light">"Prevenir é um ato de amor com você, com seu corpo e com todos que te amam. Cuidar-se é a melhor maneira de se amar e ser feliz.
            A vida passa depressa, mas não permita que a correria do dia a dia faça com que você esqueça do mais importante: sua saúde e bem-estar." Agende sua consulta com a gente!</p>
            <p class="center-align">
              <a href="/loginPaciente" class="waves-effect waves-light btn #ef9a9a red lighten-3">
                <!-- <i class="material-icons right">cloud</i> -->
                Agende uma consulta</a>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/materialize/style/logos/logos/imagem2.jfif" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer #ef9a9a red lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a id="logo-container" href="#" class="brand-logo"><img src="materialize/style/logos/logos/LOGOpequena1.png" alt=""></a>
          <p class="grey-text text-lighten-4">Somos uma equipe de profissionais prontos para atender você e cuidar da sua saúde! Agende uma consulta</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">FAÇA PARTE DA CLÍNICA</h5>
          <ul>
            <li><a class="white-text" href="/cadastroAtendente">Fazer cadastro</a></li>
            <li><a class="white-text" href="/selecionar">Fazer login</a></li>
            <li><a class="white-text" href="/servicos">Consultar serviços</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">REDES SOCIAIS</h5>
          <ul>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Site próprio</a></li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright ® <a class="white-text text-lighten-3">Todos os direitos reservados</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    M.AutoInit();
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.carousel');
  var instances = M.Carousel.init(elems);
});
      
    </script>

    <style>

      .brand-logo image{
        width: 5%;
        height: 5%
      }

      .carousel{
        height: 500px;
      }
      
      .carousel .carousel-item{
      width: 400px;
      justify-content: center;
      padding: 0%;
      }
    </style>

  </body>
</html>