<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-br">
	<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/selectlogin.css"/>
<head>
     <title>Selecionar </title>
</head>
<body>
    <header>
        <h1><img class="responsive-img" src="materialize/style/logos/logos/LOGOpequena1.png" style="margin: -50px 475px; width: 25%;"></h1>
    </header>
    <nav>
    
       <a href="#">Home</a>
       <a href="#">Serviços</a>
       <a href="#">Contatos</a>
       <a href="#">Sobre nós</a>
    </nav>

    <h1>FAZER LOGIN COMO</h1>
    <hr color="white">
    <section class="flex">
        <div>
            <img class="responsive-img" src="materialize/style/logos/logos/cliente.png" alt="">
            <a href="/loginPaciente" class="waves-effect waves-light btn-large #e57373 red lighten-2" style="margin: 0 50px;" > Paciente  </a>
        </div>
        <div>
            <img class="responsive-img" src="materialize/style/logos/logos/medico (1).png">
            <a href="/loginMedico" class="waves-effect waves-light btn-large #e57373 red lighten-2" style="margin: 0 60px;"> Médico </a>
        </div>
        <div>
            <img class="responsive-img" src="materialize/style/logos/logos/apoio-suporte.png" >
             <a href="/loginAtendente" class="waves-effect waves-light btn-large #e57373 red lighten-2" style="margin: 0 50px;">Atendente </a>
        </div>
   
</section>
 
	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	   
	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	  

<footer>
    <p>Site criado por Daiana Lins e Letícia Almeida</p>
</footer>

</body>
</html>