<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<!-- IMPORTAÇÕES DO MATERIALIZER -->
<!-- SITE: https://materializecss.com/getting-started.html -->
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<link rel="stylesheet" href="/materialize/style/styleformAgendamento.css" />

<head>
	<style>
		#foto{
			display: none;
		}
	</style>

	<title>Cadastro do Atendente</title>
</head>

<body>

	<header>
		<h1><img class="responsive-img" src="/materialize/style/logos/logos/LOGOBRANCA.png"
				style="margin:-60px 0px; width: 25%;"></h1>
	</header>
	<nav>
		<a href="/selecionar" class="waves-effect waves-light btn center-align #ef9a9a red lighten-3"><i
				class="material-icons left" style="margin-top:-10px">home</i>Início</a>
	</nav>
	<h2 style="padding-top: 30px;">Cadastro - Paciente </h2>

	<!-- <h3><a href="/consultas" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left">format_list_bulleted</i>Consultas Agendadas</a></h3>
 <h4><a href="/tela" class="waves-effect waves-light btn #ef9a9a red lighten-3"><i class="material-icons left">home</i>Início</a></h3> -->
	<!-- <th:block th:include="mensagemValidacao"></th:block> -->
	<form class="row" method="post" th:object="${usuariopaciente}" enctype="multipart/form-data">
		<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->

		<input type="hidden" th:field="*{tipo}">
		<input type="hidden" th:field="*{id}">
		
		Nome Completo: <input type="text" th:field="*{nome}" required />
		Email: <input type="text" th:field="*{email}" required />
		
		<div class="input-field col s5">
		Data de Nascimento:
        <input type="date" name="data" id="data" th:field="*{datanasc}">
		</div>
		
		<div class="input-field col s5">
			Numero: <input type="text" th:field="*{numero}" required />
		</div>

		<br><br>
		    
			<label for="foto">Foto de Perfil:</label>
			<label class="button btn btn-secondary" for="foto" id="labelFoto">Upload</label>
            <input type="file" id="foto" value="Choose a file" accept=".jpg" name="file" onchange="showName(this)">
            <input type="text" disabled name="" id="nomeFile" placeholder="Nome do arquivo"><br><br>
			<br>
		
		Senha: <input type="password" th:field="*{senha}" required />

		<button type="submit" class="waves-effect waves-light btn #ef9a9a red lighten-3" th:value="${usuariopaciente.id == null ? 'cadastrar' : 'editar'}"> Cadastrar</button>
	
	</form>

	<footer>
		<p>Copyright ® Todos os direitos reservados</p>
	</footer>




	<!--JavaScript at end of body for optimized loading-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
	integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	crossorigin="anonymous"></script>
	<script>
		function showName(file) {
        let arquivo = file.files[0]
        document.getElementById("nomeFile").value = arquivo.name
        myModal.show()
    }

	</script>

</body>

</html>